/*save as utf-8*/
.mediaBox {
	background-color:#000; 
    width: 100%;
	height: 100%;
    overflow:hidden;
    position:relative;
border-bottom: 1px solid #000;
}

.page1{
	width: 100%;
	height: 100%;
	position: absolute;


	color: #ffffff;
	background-image:Url('../../img/mode_time/pojatoon1.jpg') ;
	background-repeat:no-repeat;
	background-position: center;	

}

.page2{
	width: 100%;
	height: 100%;
	position: absolute;


	color: #ffffff;
	background-image:Url('../../img/mode_time/pojatoon2.jpg') ;
	background-repeat:no-repeat;
	background-position: center;	

}

.page3{
	width: 100%;
	height: 100%;
	position: absolute;


	color: #ffffff;
	background-image:Url('../../img/mode_time/pojatoon3.jpg') ;
	background-repeat:no-repeat;
	background-position: center;	

}

.pageBlack{
	width: 100%;
	height: 100%;
	position: absolute;

	background-color : #000;
	color: #fff;

}

/*****************************************************
*  tip to make the object center and middle 
*  top : 50% ,left: 50%
*  margin-left =>  width/2 , margin-top ==> height/2
*****************************************************/
	
.container{

	left: 50%;
	top : 50%;
	
	/**/
	margin-top : -75px;
	margin-left : -75px;
}

.flashObjOpacity{
	width: 150px;
	height: 150px;
	filter:Alpha(opacity=80);
}

.flashObjNoOpacity{
	width: 150px;
	height: 150px;
}


.simpleClockContainer{
	left: 50%;
	top: 130;
	/**/
	 
	margin-left : -100px;
}

.simpleClock{
	width : 200px;
 
}

.uniclockContainer1{

	left: 0px;
	top : 0px;
	
	/**/
	margin-top : -9px;
	margin-left : -9px;
}

.uniclock1{
	width: 100px;
	height : 100px;
}

.uniclockContainer3{

	left: 90px;
	top : 0px;
	
	/**/

}

.uniclock3{
	width: 100px;
	height : 100px;
}

.uniclockContainer{

	left: 50%;
	top : 50%;
	
	/**/
	margin-top : -75px;
	margin-left : -80px;
}

.uniclock{
	width: 180px;
	height : 150px;
}

.containerFull{
	width : 100%;
	height : 100%;
	background-color : #000;	
}

.flashObjFull{
	width: 100%;

}